@import "../variable/variable.scss";
@import "../variable/mixin.scss";

.wpo-page-title{
    background: url("https://data.dghome3d.com/templates/cl56vl3w60131bxkljwf8l6nh/pictures/6b77356d586178686a4c5855554556554a7975306a.jpg") no-repeat center top / cover;
    // min-height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
	top: 97px;
	height: 650px;

	@media(max-width: 767px) {
		min-height: 250px;
	}

	&:before{
		position: absolute;
		left: 0;
        top: 0;
		width: 100%;
		height: 100%;
		background: $black-bg-color;
		content: "";
		z-index: -1;
		opacity: .50;
	}
	.wpo-breadcumb-wrap {
		text-align: center;

		h2{
			font-size: 60px;
			color: #fff;
			line-height: 60px;
			margin-top: -10px;
			margin-bottom: 20px;
			font-weight: 700;

			@media(max-width: 767px) {
				font-size: 30px;
				line-height: 35px;
				margin-bottom: 10px;
			}
		}

		ol{
			padding-left: 0;
			margin-bottom: 0;
			li{
				display: inline-block;
				padding: 0px 8px;
				padding-right: 20px;
				color: #fff;
				position: relative;
				font-size: 20px;

				@media(max-width:767px){
					font-size: 18px;
				}

				&:after{
					content: "";
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 8px;
					height: 8px;
					background: $white;
					border-radius: 50%;
				}

				&:last-child{
					&:after{
						display: none;
					}
				}

				a{
					color: #fff;
					font-size: 20px;
					transition: all .3s;

					&:hover{
						color: $theme-primary-color;
					}
				}
			}
		}
	}
}