.layout {
    width: 100vw;
    height: 100vh;
  }
  
  .header-style {
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
  }
  
  .sidebar {
    line-height: 120px;
  }
  
  .table-container {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .table-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  
    .input-search {
      max-width: 500px;
    }
  }
  
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  